@import '@/assets/style/variable.scss';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Noto Sans KR', sans-serif;
}

@each $name, $color in $palette {
    .color-#{$name} {
        color: $color !important;
    }

    .bg-#{$name} {
        background-color: $color !important;
    }
}
